<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
</head>
<body>
{{if eq .User.Login ""}}
    <h2>You're unathenticated</h2>
    {{ range .Providers }}
    <form action="/auth/{{.}}/login" method="get">
        <input type="hidden" name="return_url" value="/">
        <button type="submit">Login with {{.}}</button>
    </form>
    {{end}}
{{else}}
    <h2>Logged in</h2>
    <p>Username: {{.User.Login}}</p>
    <p>First name: {{.User.FirstName}}</p>
    <p>Last name: {{.User.LastName}}</p>
    <p><a href="/api/docs">API Docs</a></p>
{{end}}
</body>
</html>
