[Unit]
Description=Ovoo Mail Aliasing Socketmap Service

[Service]
User=ovoo
Group=ovoo
ExecStart=/usr/local/bin/ovoo socketmap -config /usr/local/etc/ovoo/config.json

[Install]
WantedBy=multi-user.target
Wants=ovoo-api.service
After=ovoo-api.service
