@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px);
}

.sidebar-brand-full {
  margin-left: 3px;
}

.footer {
  min-height: calc(3rem + 1px);
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }
}
